B77;10103;0c*.class

# Package Files #
*.jar
*.war
*.ear

*.aux
*.glo
*.idx
*.log
*.toc
*.ist
*.acn
*.acr
*.alg
*.bbl
*.blg
*.dvi
*.glg
*.gls
*.ilg
*.ind
*.lof
*.lot
*.maf
*.mtc
*.mtc1
*.out
*.synctex.gz


Report/Main/final.pdf

# Netbeans #
.DS_Store
private/
build/
dist/
/TravelAgencyREST/nbproject/private/
/TravelAgencyREST/build/
/TravelAgencyREST/dist/
/code/TravelGoodApp/nbproject/private/
/code/TravelGoodBPEL/build/
/code/TravelGoodApp/src/jbiServiceUnits/
/code/TravelGoodApp/build/
/code/TravelGoodApp/dist/
/code/TravelGoodTest/nbproject/private/
/code/TravelGoodClient/nbproject/private/
/LameDuck/nbproject/private/
/LameDuck/build//code/TravelGoodTest/build/
/LameDuck/LameDuck/nbproject/private/
/LameDuck/build/
/NiceView/nbproject/private/
/NiceView/build/
/NiceView/dist/
