#{extends 'CRUD/layout.html' /}
#{set title:messages.get('crud.blank.title', type.modelName) /}

<div id="crudBlank" class="${type.name}">

    <h2 id="crudBlankTitle">&{'crud.blank.title', type.modelName}</h2>

    <div class="objectForm">

       
    #{form action:@create(), enctype:'multipart/form-data'}

       #{field 'requirement'}
<p>
  <input type="hidden" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}"/>
</p>
#{/}
#{field 'resolution'}
<p>
  <label>Proposal</label>
  <input type="text" id="${field.id}" name="${field.name}" value="${field.value}" class="${field.errorClass}" />
</p>

#{/}
        <p class="crudButtons">
            <input type="submit" name="_save" value="&{'crud.save', type.modelName}" />
        </p>
    #{/form}
    </div>

</div>