#{extends 'admin.html' /}
#{set title:'Home' /}
 
<div style="width=100%;">
    <div id="box_right" style="float: right; width: 30%;">
        <h4>Latest document revisions</h4>
        #{if documents}
    #{list items:documents, as:'document'}
    <p class="post ${document_parity}">
        <a href="@{Documents.list(document.id)}">${document}</a>
    </p>
    #{/list}
    #{/if}
    <a href="@{Documents.listAll()}">Show all documents</a>
    
    </div>
    <h2>Tasks</h2>
    <h4>Certificates</h4>
    #{if certificates}
    #{list items:certificates, as:'certificate'}
    <p class="certificate ${certificate_parity}">
        <a href="@{Certificates.list(certificate.id)}">${certificate}</a>
    </p>
    #{/list}
    #{/if}
    #{else}
    <p>
        <em>You have not yet provided any certificate information; please add it by clicking <a href="@{Certificates.blank()}">here</a></em>
    </p>
    #{/else}
</div>

<div style="width=100%;">
    <h3>Pending activites</h3>
    #{if activities}
    <ul>
    #{list items:activities, as:'activity'}
    <li>
    <p>
    <h4>${activity}</h4>
        #{if activity.requirements}
        <ul>        
        #{list items:activity.requirements, as:'requirement'}
        <li><a href="@{Requirements.show(requirement.id)}">${requirement}</a> <span class="${requirement?.status.css_class}">${requirement.status}</span></li>
        #{/list}
        </ul>
        #{/if}
    </p>
    </li>
    #{/list}
    </ul>
    #{/if}
</div>

<div style="width=100%;">
    <h3>Recently resolved activities</h3>
    
</div>