#{extends 'main.html' /}
#{set title:'Home' /}
 

#{if documents}

            #{list documents, as:'doc'}
                <div class="post">
                    <h2 class="post-title">
                         <a href="@{Application.show(doc.id)}">${doc.title}</a>
                    </h2>
                    <div class="post-metadata">
                        <span class="post-author">
                            Revision: ${doc.revision}
                        </span>
                    </div>
                </div>
            #{/list}
#{/if}
 
#{else}
    <div class="empty">
        There is currently nothing to read here.
    </div>
#{/else}